.buttonOption {
    padding: 10px 20px;
    border: 2px solid #c0c78c;
    border-radius: 20px;  
    background-color: #c0c78c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    text-align: center;
    display: inline-block;
}
  
.buttonOption:hover {
    background-color: #6f7a4b;
    border: 2px solid #6f7a4b;
}

.buttonNext {
    padding: 10px 20px;
    border: 2px solid #171717;
    border-radius: 20px;  
    background-color: #171717;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
}

.buttonNext:hover {
    background-color: #000000;
    border: 2px solid #000000;
}